GEMINI_API_KEY=your-gemini-api-key-here
GEMINI_MODEL=gemini-2.5-flash
BACKEND_URL=http://gateway-service:8080/api
HF_API_TOKEN=your-huggingface-api-token-here
HF_IMAGE_MODEL=black-forest-labs/FLUX.1-schnell
